.picture {
  width: 20%;
  border-radius: 100%;
  margin-top: 37px;
  position: absolute;
  top: 5%;
  left: 3%;
}

.container {
  margin-top: 60px;
  margin-left: 350px;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
  padding: 10px;
}
.github {
  text-decoration: none;
  color: black;
  padding: 10px;
}

.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #8b0000;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  z-index: 10;
}
.nav-list {
  display: flex;
  margin-right: 3rem;
}
.name {
  margin-top: 33px;
  margin-left: 350px;
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
}
.description {
  margin-top: 33px;
  margin-left: 350px;
  font-size: 1.25rem;
  font-weight: 300;
}
.Languages {
  margin-top: 33px;
  margin-left: 350px;
}
h3 {
  margin-top: 33px;
  margin-left: 350px;
  font-size: 1.25rem;
  font-weight: 300;
}
.About {
  margin-top: 30px;
  margin-left: -350px;
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.2;
}
.Me {
  margin-top: -13px;
  margin-left: 0px;
}
/* border section  */
.border {
  border-width: thin;
  border-style: solid;
  border-color: #287ec7;
  margin-top: 33px;
  margin-left: -350px;
}
.border2 {
  border-width: thin;
  border-style: solid;
  border-color: #287ec7;
  line-height:60px;
  margin-top: 33px;
  margin-left: -350px;
}
.projects {
  border-width: thin;
  border-style: solid;
  border-color: #287ec7;
  margin-top: 203px;
  margin-left: -350px;
}
.projects-grid {
  border-width: thin;
  border-style: solid;
  border-color: #287ec7;
  margin-top: 33px;
  margin-left: -350px;
}
.contact-section {
  border-width: thin;
  border-style: solid;
  border-color: #287ec7;
  margin-top: 33px;
  margin-left: -350px;
}

/* end  of border section */

/* start of project section */
.projects {
  margin-top: 33px;
  margin-left: -350px;
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.2;
}
.project-image {
  width: 50%;
  margin-top: 10px;
  margin-left: 30px;
}

.project-image2 {
  width: 50%;
  margin-top: 350px;
  margin-left: -623px;
}
.project-image3 {
  width: 50%;
  margin-top: 800px;
  margin-left: -624px;
}
/* end of contact section  */

/* start contact section */
.contact-section {
  margin-top: 1100px;
  margin-left: -1px;
}
.contact-section-header {
  text-align: center;
}
.contact-links {
  text-align: center;
}
/* end of contact section  */
