@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
body{
  background-color:#EBEBEB;
}


.picture {
  width: 20%;
  border-radius: 100%;
  margin-top: 37px;
  position: absolute;
  top: 5%;
  left: 3%;
}

.container {
  margin-top: 60px;
  margin-left: 350px;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
  padding: 10px;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}
.github {
  text-decoration: none;
  color: black;
  padding: 10px;
}
.email{
  text-decoration: none;
  color: black;
  padding: 10px;
}

.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #70CFFF;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  z-index: 10;
}
.nav-list {
  display: flex;
  margin-right: 1rem;
}
.name {
  margin-top: 125px;
  margin-left: 150px;
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 1.2;
}
.description {
  margin-top: 33px;
  margin-left: 165px;
  font-size: 2.25rem;
  font-weight: 300;
}
.Languages {
  margin-top: 33px;
  margin-left: -30px;
}
h3 {
  margin-top: 33px;
  margin-left: -30px;
  font-size: 1.25rem;
  font-weight: 300;
}
.About {
  margin-top: 80px;
  margin-left: -300px;
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.2;
}
.Me {
  margin-top: -13px;
  margin-left: -300px;
}
/* line section  */
.card {
  position: relative;
  margin-left: -300px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: rgb(26, 25, 25);
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

/* end  of line section */

/* start of project section */
.projects {
  margin-top: 33px;
  margin-left: -300px;
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.2;
}
.project-image {
  width: 100%;
  margin-top: 65px;
  position: relative;
  margin-left: -150px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: rgb(26, 25, 25);
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.project-image2 {
  width: 100%;
  margin-top: -170px;
  position: relative;
  margin-left: -150px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: rgb(26, 25, 25);
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.project-image3 {
  width: 100%;
  margin-top: 10px;
  position: relative;
  margin-left: -150px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: rgb(26, 25, 25);
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
p{
  font-family: 'Lato', sans-serif;
}
h2{
  font-family: 'Poppins', sans-serif;
}
.Translate{
  font-size: 15px;
}
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}
/* end of project section  */

/* start contact section */
.contact-section {
  margin-top: 1100px;
  margin-left: -1px;
}
.contact-section-header {
  text-align: center;
}
.contact-links {
  text-align: center;
}
.github{
  background-color:#70CFFF;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.phone{
  background-color:#70CFFF;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.email{
  background-color:#70CFFF;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
/* end of contact section  */
